html {
    height: 100%;
}

body {
    height: 100%;
    background: #eaeaea;
}

.dataTables-pagination {
    margin: 0;
}

td .form-group.form-group-sm {
    margin-top: 3px;
}

table .checkbox,
table .radio {
    margin: 0;
}

.radio label.radio-inline {
    padding-left: 25px;
}


/* TODO: less it (https://github.com/DameniMilo/bootstrap-material-design/tree/serverSettings) */


#siteSettings .page-header {
    color: #fff;
    height: 64px;
    line-height: 64px;
    margin: 0 -15px;
    margin-bottom: 16px;
    padding-bottom: 0;
    background: #546E7A;
}

#siteSettings .page-header h2 {
    margin: 0;
    padding: 0;
    margin-left: 25px;
    font-size: 20px;
    line-height: 64px;
    width: 80%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.panel > .panel-heading,
.panel.panel-default > .panel-heading {
    background-color: transparent !important;
    font-weight: 400;
}

.panel-body {
    padding-bottom: 4px !important;
}

div.dataTables_info {
    font-size: 12px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.4);
    padding-top: 0;
}
